# JetBrains
.idea/*
server/nlp/.idea/*
server/web/.idea/*

# __pycache__ of submodules
server/web/web/__pycache__/*
server/web/web/connectors/__pycache__/*
server/web/web/log/__pycache__/*
server/web/web/parsers/__pycache__/*