.idea/*
.ruff_cache/*
.pytest_cache/*

scidock-nlp
scidock-nlp/*
profiling/*

scidock/__pycache__/*
scidock/search_engines/__pycache__/*
scidock/config/__pycache__/*
tests/__pycache__/*

dist/*

Dockerfile